In [ ]:
聚合函數
count（個數）, sum（加總）, mean（平均）, median（中位數）, std（標準差）, var（變異數）, first（第一個非NA）, last（最後一個非NA）

In [1]:
import pandas as pd

df = pd.DataFrame({"key1":['A','B','C','B','B','A','D','E'],"key2":['A','B','D','B','D','A','C','D'],'count1':[10,20,23,42,51,76,65,80],'count2':[1.2,3.4,4.5,7.4,4.4,5.5,3.4,1.2]})

In [2]:
df

   count1  count2 key1 key2
0      10     1.2    A    A
1      20     3.4    B    B
2      23     4.5    C    D
3      42     7.4    B    B
4      51     4.4    B    D
5      76     5.5    A    A
6      65     3.4    D    C
7      80     1.2    E    D

In [5]:
df.groupby('key1').count()

      count1  count2  key2
key1
A          2       2     2
B          3       3     3
C          1       1     1
D          1       1     1
E          1       1     1

In [6]:
df.groupby('key1').sum()

      count1  count2
key1
A         86     6.7
B        113    15.2
C         23     4.5
D         65     3.4
E         80     1.2

In [7]:
df.groupby(['key1','key2']).sum()

           count1  count2
key1 key2
A    A         86     6.7
B    B         62    10.8
     D         51     4.4
C    D         23     4.5
D    C         65     3.4
E    D         80     1.2

In [8]:
df.groupby(['key1','key2']).size()

key1  key2
A     A       2
B     B       2
      D       1
C     D       1
D     C       1
E     D       1
dtype: int64

In [10]:
df.groupby(['key1','key2'])['count1'].sum()

key1  key2
A     A       86
B     B       62
      D       51
C     D       23
D     C       65
E     D       80
Name: count1, dtype: int64

In [11]:
df.groupby(['key1','key2'])['count2'].sum()

key1  key2
A     A        6.7
B     B       10.8
      D        4.4
C     D        4.5
D     C        3.4
E     D        1.2
Name: count2, dtype: float64